Django==5.1.5
djangorestframework==3.15.2
django-cors-headers==4.6.0
whitenoise==6.11.0
python-dotenv==1.0.1
pillow==11.1.0
gunicorn==23.0.0
mysqlclient==2.2.7
django-storages==1.14.4
boto3==1.35.99
celery==5.4.0
redis==5.2.1

# FFmpeg is a system dependency (apt install ffmpeg)
